i {
  color: #fff;
}
button {
  /* background-color: white !important; */
  color: black !important;
}
.counter {
  position: relative;
  top: 50%;
  left: 50%;
  /* color: #fff; */
  /* text-align: center; */
  transform: translateX(-50%) translateY(-50%);
}
